body {
    background-color: #f0f4f9;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    color: #1f1f1f;
}

.container {
    margin: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    border-radius: 28px;
    margin-bottom: 28px;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 75px;
    outline: none;
    box-shadow: none;
}

input[type=text],
input[type=date],
input[type=submit] {
    margin: 10px 0;
    padding: 10px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type=text]:focus,
input[type=date]:focus {
    border-color: #4a90e2;
    outline: none;
}

#id {
    /* booking id*/
    display: none;
    pointer-events: none;
    background-color: #e9ecef;
    color: #6c757d;
}

form {
    width: 25%;
    margin: auto;
    margin-top: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: #9932CC;
    margin-bottom: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a90e2;
    border-bottom-right-radius: 28px;
    padding: 10px;
    margin-bottom: 28px;
    height: 75px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar a:hover {
    outline: none;
    color: #f0f0f0;
}

button:hover,
input[type=submit]:hover {
    background-color: #d9d9d9;

}

.navbar-home {
    font-weight: bold;
    font-size: 1.5em;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    margin-top: 28px;    
}

table td {
    /* border: 5px solid greenyellow; */
    padding: 5px;
}

.booking-container {
    width: 50%;
    margin: auto;
}

.icon-btn {
    display: inline-block;
    vertical-align: middle;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    padding: 0;    
}

.fixed-width {
    width: 50px;        
}