.container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

table {
    /*margin: auto;*/
    width: 50%;
    border: 3px solid purple;
    padding: 10px;
}

body {
    background-color: #28282b;
}

h1 {
    font-family: monospace;
    color: orange;
}

label {
    color: #F5F5DC;
    font-family: monospace;
    float: left;
}

input[type=text],
input[type=date] {
    width: 100%;
    margin: 10px 0;    
}

input[type=radio] {
    margin: 10px 0;    
}





