:root {
    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
}

body {
    background-color: #f0f4f9;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    color: #1f1f1f;
}

.container {
    margin: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    border-radius: 28px;
    margin-bottom: 28px;
    width: 50%;
}

button {    
    padding: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    width: 75px;
    outline: none;
    box-shadow: none;
}

input[type=text],
input[type=date],
input[type=submit] {
    margin: 10px 0;
    padding: 10px;
    height: 50px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type=text]:focus,
input[type=date]:focus {
    border-color: var(--secondary-color);
    outline: none;
}

input[type=submit] {
    background-color: var(--primary-color);
    color: white;
}

#id {    
    display: none;
    /* pointer-events: none;
    /* background-color: var(--primary-color); */
    /* color: var(--secondary-color); */ 
}

form {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: var(--secondary-color);
    font-size: 12px;
    margin-bottom: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    margin-bottom: 28px;
    height: 75px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar a:hover {
    outline: none;
    color: var(--shadow-color);
}

button:hover,
input[type=submit]:hover {
    background-color: var(--accent-color);

}

.navbar-home {
    font-weight: bold;
    font-size: 1.5em;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    margin-top: 28px;    
}

table td {    
    padding: 5px;
}

.booking-container {
    width: 50%;
    margin: auto;
}

.icon-btn {
    display: inline-block;
    vertical-align: middle;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    padding: 0;    
}

.fixed-width {
    width: 50px;        
}